@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  overflow: hidden;
  margin: 0;
  height: 100vh;
  background: url("https://images.hdqwalls.com/download/asphalt-road-landscape-5k-v1-2560x1024.jpg")
    0 0/100% 100% no-repeat;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  animation-name: all;
  animation-duration: 5s;
}

.slide {
  position: relative;
  cursor: pointer;
  height: 50vh;
  border-radius: 10px;
  margin: 10px;
  color: #f1f1f1;
  flex: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 500ms ease-in-out;
}

.slide.active {
  flex: 10;
  cursor: auto;
}

.slide h3 {
  margin: 0 auto;
  font-size: 24px;
  top: 20px;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.slide p {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50vh;
  color: #f1f1f1;
  width: 90vw;
  display: none;
  opacity: 0;
}

.slide.active p {
  animation-name: text;
  animation-duration: 0.6s;
  display: inline;
  opacity: 1;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes all {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
